<%= simple_form_for([conversation,message], remote: true, authenticity_token: true) do |f| %>
  <div class="conversation-input">
    <%= f.input_field :content, label: false, placeholder: "Ecrire un nouveau message..." %>
    <button class='btn btn-primary btn-round pull-right' type="submit"><i class="fa fa-paper-plane white-font"></i></button>
  </div>
<% end %>
