// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$dark-blue: #2560af;
$darker-blue: #183d5f;
$light-blue: #00d0fb;

$brand-color-red: #ff5156;
$brand-color-blue: #91e9f0;
$brand-color-green: #00f6d2;

$black: #0b0b0b;

$dark-gray: rgba(0,0,0,.84);
$medium-gray: rgba(0,0,0,.5);
$mediumlight-gray: rgba(0,0,0,.25);
$light-gray: rgba(0,0,0,.1);
$verylight-gray: #f7f7f7;
$gray-light: #eeeeee;
$yellow-hover: #FFFDEA;
