/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings ******************************
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.margined {
  margin: 15px 0px;
}

.sm-padded {
  padding-bottom: 10px;
}

.sm-margin {
  margin-bottom: 20px;
}

// Color links ******************************
.white-link {
  color: white;
  font-weight: lighter;
  &:hover {
    color: $blue;
  }
}

.grey-link {
  color: $gray;
  font-weight: lighter;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.blue-link {
  color: $blue;
  opacity: 0.8;
  font-weight: lighter;
  &:hover {
    opacity: 1;
  }
}

.red-link {
  color: $red;
  opacity: 0.8;
  font-weight: lighter;
  &:hover {
    opacity: 1;
  }
}

.link-no-style {
  color: white;
  &:hover {
    color: white;
  }
}

.link-to-back {
  padding: 20px;
  position: fixed;
  top: 80px;
  left: 10px;
  z-index: 10;
  a, i {
    color: white;
  }
  &:hover {
    a, i {
      color: $blue;
    }
  &:active {
    text-decoration: none;
  }
  }
}

// Color fonts ******************************

.white-font {
  color: white;
  font-weight: lighter;
}

.grey-font {
  color: $medium-gray;
}

// Backgrounds ******************************
.bg-white {
  background-color: white;
}

.bg-black {
  background-color: $black;
}
.bg-grey {
  background-color: $dark-gray;
}
.bg-blue {
  background-color: $blue;
}
.bg-red {
  background-color: $red;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-dark-blue {
  background-color: #3b5998;
}
.bg-verylight-gray {
  background-color: $verylight-gray;
}

// Margins ******************************
.left-marged {
  margin-left: 20px;
}

.right-marged {
  margin-right: 20px;
}

.top-marged {
  margin-top: 20px;
}

.big-top-marged {
  margin-top: 100px;
}

.bottom-marged {
  margin-bottom: 20px;
}

.no-marge {
  margin: 0;
}

// alignment and distribution ******************************
.distributed {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexed-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexed-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexed-right-reverse {
  flex-direction: row-reverse;
}

.flexed-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cheek {
  width: 100px;
}

.strip {
  height: 100px;
}

// icon utilities ******************************
.icon-color {
  color: $light-gray;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}
