<div id="warning_cookie">
  <div id="content_warning_cookie_wrapper">
      <div id="content_warning_cookie">
                      En naviguant sur notre site, vous acceptez l'utilisation de cookies.
          &nbsp;<%= link_to 'En savoir plus', legalterms_path %>
      </div>
      <div class="close_cookie"><span class="cross-close">OK</span></div>
  </div>
</div>
