<!-- needs notification_badge_id notification_dropdown_block_id and notification_badge_number -->
<div class="dropdown notification-dropdown" id="notification-dropdown">
  <%= link_to notifications_path, class: 'dropdown-toggle notification-icon', role: 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false', remote: true do %>
    <i class="fa fa-envelope-o notification-icon"></i>
    <span class="badge badge-primary notification-badge" id="<%= notification_badge_id %>" data-number="<%= notification_badge_number %>"></span>
  <% end %>
  <div class="dropdown-notification-wrapper dropdown-menu dropdown-menu-right">
    <ul class=" dropdown-notification" id="<%= notification_dropdown_block_id %>">
    <!-- add notification_cards here -->
    </ul>
  </div>
</div>
