<div class="banner banner-page" style="background-image: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0)), url('<%= image_path 'banner-home1.jpg' %>');">
  <div class="banner-content">
    <h1>Devenir adhérent</h1>
    <p>C'est important de soutenir l'association</p>
  </div>
</div>
<div class="council-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Pourquoi adhérer à la FCPE ?</h3>
        <p>Parce que c’est ensemble que nous pourrons changer l’école ! Le Conseil des Parents a décidé cette année de faire partie d'une fédération pour bénéficier de l'aide importante de ce réseau. Adhérer au Conseil des Parents de Lange, c'est adhérer à la FCPE. Adhérer à cette fédération, c’est avant tout se regrouper pour faire respecter le droit des élèves : conditions d’apprentissage de qualité, valorisation des enfants, soutien des parents, solidarité… <br><br>Ainsi, grâce à ces actions du quotidien, les parents participent collectivement à la défense de l’école publique, laïque et gratuite pour tous. L'adhésion à la FCPE permet de financer aussi l'assurance des enfants et des adultes lors de toutes les actions mises en oeuvre par les parents.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Comment adhérer ?</h3>
        <p>Pour adhérer, <%= link_to 'téléchargez le formulaire', subscribe_form_path %>, imprimez-le, cochez votre cotisation, mettez le  dans une enveloppe avec votre chèque à l'ordre de 'FCPE 33 Lange Gradignan' puis déposez l'enveloppe soit dans le cahier de liaison de votre enfant, soit dans la boîte aux lettres du Conseil des Parents à l'entrée de l'école.</p>
        <%= link_to 'FORMULAIRE D\'ADHESION', subscribe_form_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
