<!-- not used (was used with only onephoto or gem carrierwave but do not work with attachinary&multiple photo) -->
<% if post.user == current_user %>
  <div class="edit-img">
    <%= simple_form_for post do |f| %>
      <%= f.label :photo do %>
        <i class="fa fa-camera fa-lg icon-color" aria-hidden="true"></i>
      <% end %>
      <%= f.input :photos, as: :attachinary, label: false, input_html: { class: "", onchange: "this.form.submit();" } %>
    <% end %>
  </div>
<% end %>
