<% if post.user == current_user %>
  <div class="edit-img">
    <div class="update-img">
      <%= simple_form_for post do |f| %>
        <%= f.label :photo do %>
          <p>Editer <i class="fa fa-camera" aria-hidden="true"></i></p>
        <% end %>
        <%= f.input :photo, as: :file, label: false, input_html: { class: "hidden", onchange: "this.form.submit();" } %>
      <% end %>
    </div>
  </div>
<% end %>
