#warning_cookie {
    z-index: 9999;
    padding: 20px;
    background-color: rgba(227,242,255,0.7);
    color: #000;
    font-weight: 200;
    font-size: 13px;
    width: 300px;
    position: fixed;
    bottom: 20px;
    left: auto;
    right: 20px;
}

#content_warning_cookie_wrapper {
    width: 100%;
    text-align: center;
}

#content_warning_cookie_wrapper #content_warning_cookie {
    line-height: 18px;
    text-align: center;
    display: inline;
    letter-spacing: 0;
}

