.img-rounded {
  border-radius: 6px;
}

img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.edit-img {
  z-index: 10;
  opacity: 0.8;
  width: 100%;
  height: 50vh;
  position: absolute;
  right: 30px;
  top: 10px;
}


// attachinary uploader css*************************************

.attachinary_container ul {
  list-style-type: none;
}

.drop-image {
  border: 3px dashed $light-gray;
  width: 100%;
  padding: 40px;
  text-align: center;
  &:hover {
  background: $light-gray;
  }
}

input[type='file'].attachinary-input {
  display: none;
}

.attachinary_container ul li {
  img {
    margin: 10px;
    width: 100px;
    height: 100px;
  }
  a {
    color: $gray;
    font-weight: lighter;
    &:hover {
      color: $blue;
    }
  }
}


