.post-wrapper {
  margin: 30px 0px;
  background-color: white;
  border: 1px solid $light-gray !important;
  border-radius: 7px;
  width: 100%;
}

.post-image-edit {
  position: absolute;
  top: 10px;
  right : 10px;
}

.post-image {
  width: 100%;
  background-size: cover !important;
  background-position: center;
}

@media(max-width: 720px) {
  .post-image-wrapper-height {
    height: 300px;
  }
  .post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px
  }
  .post-image-rounded {
    border-radius: 7px 7px 0px 0px;
    border-width: 0px 0px 1px 0px;
    border-color: $light-gray;
    border-style: solid;
  }
}

@media(min-width: 721px) {
  .post-image-wrapper-height {
    height: 450px;
  }
  .post-details {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .post-image-rounded {
    border-radius: 7px 0px 0px 7px;
    border-width: 0px 1px 0px 0px;
    border-color: $light-gray;
    border-style: solid;
  }
}

.post-details-show {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media(max-width: 720px) {
  .post-details-padding {
   padding: 20px;
  }
}

@media(min-width: 721px) {
  .post-details-padding {
   padding: 0px 60px;
  }
}

.post-header {
  display: flex;
  align-items: center;
  h2 {
    color: $dark-gray;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }
  a {
  margin-right: 10px;
  }
}

@media(max-width: 720px) {
  .post-header-show {
   h2 {
    font-size: 24px
   }
  }
}

@media(min-width: 721px) {
  .post-header-show {
   h2 {
    font-size: 32px
   }
  }
}

.post-content {
  p {
    font-size: 15px;
    color: $dark-gray;
  }
}

.post-footer {
  height: 70px;
  flex:0 0 auto;
  display: flex;
  align-items: center;
  line-height: 20px;
  font-size: 16px;
}

.post-avatar {
  height: 40px;
  padding-right: 10px
}

.post-footer-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h4 {
    font-size: 14px;
    color: $dark-gray;
    margin-bottom: 2px;
  }
  p {
    font-size: 12px;
    font-weight: bold;
    color: $medium-gray;
  }
}
