.classroom-select {
  border-radius: 20px;
  height: 32px;
  padding: 3px 12px;
  color: $blue;
  font-size: 16px;
  &:focus, &:hover {
    color: $blue;

  }

}

.classroom-select-item {
  color: $blue!important;
  font-size: 16px!important;
}

.classroom-select-wrapper {
  margin: 14px auto;
}

.bootstrap-select {
  .dropdown-menu {
    border-radius: 10px;
    border: 1px solid $light-gray;
    border-width: 0 0 1px 0;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }
}
