.title-bar {
  // height: 50px;
  height: auto;
  background: $blue;
  border-color: $blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  h2 {
    font-size: 18px;
    margin: 14px auto;
  }
}
